@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'raleway', san-serif;
    line-height: 2.3em;
    font-weight: 800;
    background-image: url(../images/sun-pattern.png);

}

.our-content {
    margin: auto;
    padding-top: 71px;
    padding-bottom: 80px;
    max-width: 600px;

}

button:hover {
    background-color: aqua;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.active {
    background-color: blue;
}

